In [1]:
import numpy as np 
import pandas as pd 
import math

In [7]:
path = '/Users/Eliana/Documents/PDM/Codes/My_codes/Deviations_from_standard/'
data = pd.read_csv(path + 'Data/standard/simulated_SMLM_1_0.csv')

In [10]:
def csv_to_txt(data_in_csv, new_name):
    NumberOfDetections = len(data_in_csv.index)
    with open(path + 'Data/txt_files/' + new_name , 'w') as f: 
        print(1, NumberOfDetections, file = f)
        for i,point in data_in_csv.iterrows():
            print(str(point['x']) + ' ' + str(point['y']) + ' ' + str(point['N_photons']) + ' '+ str(0), file = f)

In [11]:
csv_to_txt(data, 'standard.txt')

première ligne: number of planes, number of detections 
ensuite, chaque ligne: x y intensity frame sigma
(sigma is optionnal)

qq tests:

In [15]:
for i,j in data.iterrows():
    if i == 2:
        print(j)
        print(str(j['x']) + ' ' + str(j['y']) + ' ' + str(j['labels_1']))

x            530.586518
y           1500.929276
labels_1       1.000000
Name: 2, dtype: float64
530.5865177132499 1500.929275606749 1.0

In [ ]:
with open('/Users/Eliana/Documents/PDM/tests/txtfiles/myfile.txt', 'w') as f:
    print(dict_parameters, file=f)
    print('# ' + comment, file = f)

In [ ]:
## Utiliser les données que Juliette m'a données pour les clusterer sur SR-T

In [14]:
def csv_to_txt_2(data_in_csv, new_name):
    NumberOfDetections = len(data_in_csv.index)
    with open('/Users/Eliana/Documents/PDM/tests/txtfiles/' + new_name , 'w') as f: 
        print(1, NumberOfDetections, file = f)
        for i,j in data_in_csv.iterrows():
            #shift = np.random.uniform(low = 0, high = 500)
            print(str(j['x']) + ' ' + str(j['y']) + ' ' + str(j['N_photons']) + ' '+ str(0), file = f)

In [15]:
path_and_file = '/Users/Eliana/Documents/PDM/2juin_aRanger/eliana_test_DData.csv'

data = pd.read_csv(path_and_file)
data

data.columns

Index(['id', 'frame', 'x', 'y', 'N_photons', 'sigma'], dtype='object')

In [9]:
data.columns = ['id', 'frame', 'x', 'y', 'sigma', 'N_photons', 'offset', 'rien' ,'poubelle', 'poubelle']

In [10]:
data

,id,frame,x,y,sigma,N_photons,offset,rien,poubelle,poubelle
0,1.0,1.0,3895.939347,3214.382655,72.954275,69.870893,2.689280e+01,2.177036,55.225042,15.277128
1,2.0,1.0,4214.810486,26857.364621,114.238865,143.365328,2.789164e+01,2.293679,56.245029,17.246373
2,3.0,1.0,5468.689465,4206.234810,107.541033,123.553099,2.730435e+01,2.546381,67.906964,18.350361
3,4.0,1.0,6609.284929,46912.118737,114.096066,110.092043,2.840765e+01,2.100413,50.433478,19.977297
4,5.0,1.0,7155.002699,65051.860512,107.515889,184.723908,2.807581e+01,3.452268,121.883079,15.715156
...,...,...,...,...,...,...,...,...,...,...
97743,97744.0,4247.0,35565.138785,4218.629989,0.891821,34.138266,2.976173e+01,3.069177,101.245178,4.945416
97744,97745.0,4247.0,40118.692060,65305.545040,293.065887,765.549024,3.707180e+01,3.694501,100.098909,25.636972
97745,97746.0,4247.0,40190.776884,65381.134995,806.449471,20670.736103,2.854263e-09,3.496642,85.965108,9.663573
97746,97747.0,4247.0,40237.667261,58265.207496,127.391411,252.522466,3.040775e+01,3.428487,107.480915,15.932500
97747,97748.0,4247.0,58133.536453,20525.392812,115.417543,123.056753,2.929570e+01,2.989520,95.335786,22.056682

In [17]:
csv_to_txt_2(data,'test_juliette_nosigma.txt')